body {
  text-align: center;
  background-color:  #EAF6F6;
}

.img1 {
  border-radius: 30%;
  width: 350px;
  margin: 0px 50px 0px 50px;
}

p {
 line-height: 2;
  font-family: 'Rubik', sans-serif;
}
.table1 {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  font-weight: 500;
}

h1 {
  font-family: 'Pangolin', cursive;
}
h3 {
  font-size: medium;
  font-style: oblique;
}
.img2 {
  width: 300px;
  float: right;
  margin-left: 20px;
}
.img3 {
  float: left;
  width: 400px;
  border-radius: 50px;
  margin-right: 20px;
}
.div2 {
  margin-bottom: 150px;
}
.h2 {
  margin-bottom: 0px;
}
.div1 {
  margin-bottom: 25px;
}
.div3 {
  margin-bottom: 150px;
}
.div4 {
  margin-bottom: 90px;
}
.div5 {
  margin-bottom: 50px;
}
.div6 {
  margin-top: 50px;
}
.img5 {
  width: 400px;
  border-radius: 50px;
  float: left;
  margin-right: 20px;
}
.img4 {
  width: 400px;
  margin-left: 20px;
  float: right;
  border-radius: 50px;
}
.h44 {
  text-align: left;
  margin-left: 130px;
  font-size: medium;
  font-style: oblique;

}
.hrr {
  margin-bottom: 50px;
  margin-top: 50px;
}
.p5 {
  margin-bottom: 100px;

}
hr {
  width: 7%;
  border: dotted;
  border-bottom: 0px;
  margin: 100px auto;

}
.hr1 {
  margin-bottom: 50px;
  margin-top: 50px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 20px;
}
.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: #d5aeb6;
}